._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
xcuserdata
xcshareddata
*.xccheckout
contents.xcworkspacedata
.DS_Store
.svn


profile
Builds/*
!Builds/LinuxMakefile/
Builds/LinuxMakefile/*
!Builds/LinuxMakefile/Makefile

!Builds/MacOSX/
Builds/MacOSX/build/*

!Builds/VisualStudio2015/
Builds/VisualStudio2015/*
!Builds/VisualStudio2015/LGML.sln
!Builds/VisualStudio2015/LGML.vcxproj
!Builds/VisualStudio2015/LGML.vcxproj.filters
!Builds/VisualStudio2015/LGML_App.vcxproj
!Builds/VisualStudio2015/LGML_App.vcxproj.filters
!Builds/VisualStudio2015/icon.ico
!Builds/VisualStudio2015/resources.rc

doxygen/doc

*.password
*.key
*.asc
*.stackdump

*.pyc

sandbox/
tmp/
GeneratedTODOs.txt
*.bak
