._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
xcuserdata
xcshareddata
*.xccheckout
contents.xcworkspacedata
.DS_Store
*.DS_Store
.svn


profile
Builds/*
!Builds/LinuxMakefile/
Builds/LinuxMakefile/*
!Builds/LinuxMakefile/Makefile

!Builds/MacOSX/
Builds/MacOSX/build/*

!Builds/VisualStudio2015/
Builds/VisualStudio2015/*
!Builds/VisualStudio2015/LGML.sln
!Builds/VisualStudio2015/LGML.vcxproj
!Builds/VisualStudio2015/LGML.vcxproj.filters
!Builds/VisualStudio2015/LGML_App.vcxproj
!Builds/VisualStudio2015/LGML_App.vcxproj.filters
!Builds/VisualStudio2015/icon.ico
!Builds/VisualStudio2015/resources.rc




!Builds/VisualStudio2017/
Builds/VisualStudio2017/*
!Builds/VisualStudio2017/LGML.sln
!Builds/VisualStudio2017/LGML.vcxproj
!Builds/VisualStudio2017/LGML.vcxproj.filters
!Builds/VisualStudio2017/LGML_App.vcxproj
!Builds/VisualStudio2017/LGML_App.vcxproj.filters
!Builds/VisualStudio2017/icon.ico
!Builds/VisualStudio2017/resources.rc


doxygen/doc

*.password
*.key
*.asc
*.stackdump
*.tar.gz
*.zip
*.dmg

lgml_build_cfg.json
*.log

*.pyc

sandbox/
tmp/
GeneratedTODOs.txt
*.bak









# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

