[submodule "third_party/serial"]
	path = third_party/serial
	url = https://github.com/wjwwood/serial.git
[submodule "third_party/link"]
	path = third_party/link
	url = https://github.com/Ableton/link.git
[submodule "third_party/rubberband"]
	path = third_party/rubberband
	url = https://github.com/breakfastquay/rubberband.git
