version: 2
jobs:
  #######
# ubuntu14
#########
  buildu14:
    working_directory: ~/LGML
    docker:
      - image: ubuntu:14.04
        environment:
          ARCH_FLAGS: -m64 # arch for linux makefile
          DST_LGML_PATH: /tmp/build
    steps:
      - checkout
      - run:
          name: install LGML dependencies
          command: |
            apt-get -qq update
            sh Scripts/linux/installDeps.sh && sh Scripts/linux/installDevDeps.sh
            apt-get install -y git
            git submodule update --init --recursive

      - run:
          name: build and package LGML
          command: |
            sh Scripts/linux/installExportDeps.sh
            python3 Scripts/buildScript.py --packagesuffix=ubuntu14 --configure --exportpath="$DST_LGML_PATH" --os=linux --configuration=Release
            python3 Scripts/buildScript.py --build --package --export
            ldd /root/LGML/Builds/LinuxMakefile/build/LGML > "$DST_LGML_PATH/dependencies.txt"
      - store_artifacts:
          path: /tmp/build/
#######
# ubuntu16
#########
  buildu16:
    working_directory: ~/LGML
    docker:
      - image: ubuntu:16.04
        environment:
          ARCH_FLAGS: -m64 # arch for linux makefile
          DST_LGML_PATH: /tmp/build
    steps:
      - checkout
      - run:
          name: install LGML dependencies
          command: |
            apt-get -qq update
            sh Scripts/linux/installDeps.sh && sh Scripts/linux/installDevDeps.sh
            apt-get install -y git
            git submodule update --init --recursive

      - run:
          name: build and package LGML
          command: |
            sh Scripts/linux/installExportDeps.sh
            python3 Scripts/buildScript.py --packagesuffix=ubuntu16 --configure --exportpath="$DST_LGML_PATH" --os=linux --configuration=Debug --build --package --export
            python3 Scripts/buildScript.py --packagesuffix=ubuntu16 --configure --exportpath="$DST_LGML_PATH" --os=linux --configuration=Release --build --package --export
            ldd /root/LGML/Builds/LinuxMakefile/build/LGML > "$DST_LGML_PATH/dependencies.txt"
      - store_artifacts:
          path: /tmp/build/


  build32:
    working_directory: ~/LGML
    docker:
      - image: dockcross/linux-x86
        environment:
          PKG_CONFIG_PATH: /usr/lib/i386-linux-gnu/pkgconfig/
          CROSS_ARCH: i386
          ARCH_FLAGS: -m32 # arch for JUCEs linux makefile
          DST_LGML_PATH: /tmp/build32

    steps:
      - checkout
      - run:
          name: install LGML32 dependencies
          command: |
            apt-get -qq update
            sh Scripts/linux/installDeps.sh && sh Scripts/linux/installDevDeps.sh 
            apt-get install -y git
            git submodule update --init --recursive

      - run:
          name: build and package LGML32
          command: |
            sh Scripts/linux/installExportDeps.sh
            python3 Scripts/buildScript.py --configure --exportpath="$DST_LGML_PATH" --os=linux --configuration=Release --build --package --export
            ldd /root/LGML/Builds/LinuxMakefile/build/LGML > "$DST_LGML_PATH/dependencies.txt"
      - store_artifacts:
          path: /tmp/build32 #$DST_LGML_PATH

###############
# build Rasp 2/3
##############

  build_rasp:
    working_directory: ~/LGML
    docker:
      - image: ubuntu
        environment:
          CROSS_ARCH: armhf
          ARCH_FLAGS_PI3: -mcpu=cortex-a53 -mfpu=neon-fp-armv8 -mfloat-abi=hard # -ffast-math # arch flags for JUCEMakefile -> RPI3
          ARCH_FLAGS_PI2: -mcpu=cortex-a7 -mfpu=neon-vfpv4 -mfloat-abi=hard  # -ffast-math # arch flags for JUCEMakefile -> RPI2
          DST_LGML_PATH: /tmp/buildRasp
          PKG_CONFIG_PATH: /usr/lib/arm-linux-gnueabihf/pkgconfig
          BUILDLGML_CMD_BASE: python3 Scripts/buildScript.py --configure --exportpath=/tmp/buildRasp/ --os=linux --build --package --export

    steps:
      - checkout
      - run:
          name: install LGMLRasp dependencies
          command: |
            set -x
            apt-get -qq update
            apt-get install -y g++-5-arm-linux-gnueabihf pkg-config
            . /etc/lsb-release
            echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports $DISTRIB_CODENAME main universe" >> /etc/apt/sources.list
            echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports $DISTRIB_CODENAME-updates main universe" >> /etc/apt/sources.list
            sh Scripts/linux/installDeps.sh && sh Scripts/linux/installDevDeps.sh
            apt-get install -y git
            git submodule update --init --recursive

      - run:
          name: build and package LGMLRasp
          command: |
            set -x
            export CXX=arm-linux-gnueabihf-g++-5
            sh Scripts/linux/installExportDeps.sh
            export ARCH_FLAGS=$ARCH_FLAGS_PI3
            $BUILDLGML_CMD_BASE --configuration=Release --packagesuffix=Rpi3
            arm-linux-gnueabihf-objdump -x ~/LGML/Builds/LinuxMakefile/build/LGML | grep NEEDED > "$DST_LGML_PATH/dependenciesRpi3.txt"
            python3 Scripts/buildScript.py --clean
            export ARCH_FLAGS=$ARCH_FLAGS_PI2
            $BUILDLGML_CMD_BASE --configuration=Release --packagesuffix=Rpi2
            arm-linux-gnueabihf-objdump -x ~/LGML/Builds/LinuxMakefile/build/LGML | grep NEEDED > "$DST_LGML_PATH//dependenciesRpi2.txt"

      - store_artifacts:
          path: /tmp/buildRasp/




  buildOSX:
    working_directory: ~/LGML
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run:
          name: install LGML OSX dependencies
          command: |
            git submodule update --init --recursive
            sh Scripts/osx/installDevDeps.sh 
            sh Scripts/osx/installExportDeps.sh
            
      - run:
          name: build and package LGML OSX
          command: |
            python3 Scripts/buildScript.py --configure --exportpath=/tmp/buildOSX/ --os=osx --configuration=Release 
            python3 Scripts/buildScript.py --build --package --export
      - store_artifacts:
          path: /tmp/buildOSX #$DST_LGML_PATH


workflows:
  version: 2
  build_all_platforms:
    jobs:
      - buildOSX
      - build_rasp
      - buildu16
      - build32



general:
  branches:
    only:
      - master
      - ci/all
      - ci/circleci
