*
!.gitignore
!LinuxMakefile/
LinuxMakefile/*
!Makefile

!MacOSX/
MacOSX/build/*

!VisualStudio2015/
VisualStudio2015/*
!VisualStudio2015/LGML.sln
!VisualStudio2015/LGML.vcxproj
!VisualStudio2015/LGML.vcxproj.filters
!VisualStudio2015/LGML_App.vcxproj
!VisualStudio2015/LGML_App.vcxproj.filters
!VisualStudio2015/icon.ico
!VisualStudio2015/resources.rc




!VisualStudio2017/
VisualStudio2017/*
!VisualStudio2017/LGML.sln
!VisualStudio2017/LGML.vcxproj
!VisualStudio2017/LGML.vcxproj.filters
!VisualStudio2017/LGML_App.vcxproj
!VisualStudio2017/LGML_App.vcxproj.filters
!VisualStudio2017/icon.ico
!VisualStudio2017/resources.rc

!VisualStudio2019/
VisualStudio2019/*
!VisualStudio2019/LGML.sln
!VisualStudio2019/LGML.vcxproj
!VisualStudio2019/LGML.vcxproj.filters
!VisualStudio2019/LGML_App.vcxproj
!VisualStudio2019/LGML_App.vcxproj.filters
!VisualStudio2019/icon.ico
!VisualStudio2019/resources.rc




# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
